[Ll]ibrary/
[Tt]emp/
[Oo]bj/
/UnityProject/[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
Recordings/
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
crashlytics-build.properties
**/TestResults/
**/bin/
**/obj/
/Artifacts/
!Build/*.csproj
!FallOfCavalry.sln
